.sidebar {
    height: 100%;
    width: 240px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #86B6F6;
    display: flex;
    flex-direction: column;
}

.sidebar ul {
    padding: 0;
}

.sidebar ul li {
    list-style: none;
    padding: none;
}

.sidebar ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
}

.sidebar ul li .active {
    background-color: rgb(35, 187, 35);
    color: white; 
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar ul li .active:hover {
    background-color: rgb(20, 140, 20); 
}

.sidebar ul li .active-link:focus {
    outline: none; 
}


.logout-container {
    padding: 10px;
    text-align: center;
}

.logout-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 16px;
}

#CompanyName {
    height: 10%;
    background-color: #86B6F6;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    height: 80%;
}

.divider {
    height: 1px;
    background-color: black;
    margin: 10px 0px;
}
