/* App.css */
.WholeArea {
    display: flex;
    height: 100vh; 
}

.mainArea {
    margin-left: 240px; 
    /* background-color: #EEF5FF; */
    flex: 1;
    overflow-y: auto; 
    /* padding: 10px; */
    box-sizing: border-box; 
    display:flex;
    flex-direction:column;
   
    justify-content: space-around;
}

.table {
    /* width: 100%; */
    height: 70%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow: scroll;
    margin: 10px;
    
}

.table th,
.table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}

#username {
    display: flex;
    align-items: center;
    background-color: rgb(38, 132, 232);
    padding:10px;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
}
#username p{
    padding-left: 5px;
    font-size: 18px;
    color: white;
    font-weight: bold;
}
.heading {
    display: flex;
    justify-content: flex-end;
    /* background-color: #86B6F6; */
    /* width: 100%; */
    height:5%;
    /* border: 1px solid white; */
    padding:10px;
}

.pagination {
    width: 100%;
    height:25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pagination span,
.pagination button {
    margin: 0 5px;
}

.pagination li {
    list-style: none;
    display: inline;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

#remarkBox{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#textarea{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#textarea textarea{
    width:80%;
    /* height:100%; */
}

.button{
    background-color: #40A2D8;
    border: 1px solid white ;
    padding: 10px;
    border-radius: 20px;
}

.Assignbutton{
    background-color: #2250f4;
    border: 1px solid white ;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

.pagination ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  
  .pagination li {
    border: 1px solid black;
    border-radius: 50%;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    font-weight: bold;
    background-color: #dedede;
  }
  
  .pagination li:hover {
    background-color:  rgb(35, 187, 35);
    color: #fff;
    border: none; /* Change to the hover color you prefer */
  }
  
  .pagination .current-page {
    background-color: #fff; 
    border: 3px solid  #0f65d5;/* Background color for the current page */
  }
  
  .page{
   height: 85%;
    /* background-color: #40A2D8; */
  }

.fixed-width{
    width: 30%;
  
    word-wrap: break-word; 
   

}

.button-page:disabled{
    display:none;
}

.pagebutton{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-page{
    background-color: #40A2D8;
    border: 1px solid white ;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
}